<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <br></br>
    <p>Bienvenido a <%= title %></p>
    <p> </p><a href="https://github.com/enanibus/nodepop/wiki">Consulta la documentación del API</a>
  </body>
</html>
